div.page.signup {
	fieldset {
		position: relative;
		div.strengthBarContainer {
			position: absolute;
			top: 81px;
			left: 225px;
			width: 220px;
			.strengthBar, .strengthLabel {
				width: 100%;
			}
			.strengthLabel {
				position: absolute;
				top: 2px;
				left: 5px;
				font-size: 12px;
			}
		}
	}
}
