div.page.signup {
	div.strengthBarContainer {
		position: relative;
		display: block;
		margin-left: 180px;
		margin-bottom: 10px;
		width: 220px;
		.strengthBar, .strengthLabel {
			width: 100%;
		}
		.strengthLabel {
			position: absolute;
			top: 2px;
			left: 5px;
			font-size: 12px;
		}
	}
}
